@tailwind base;
@tailwind components;
@tailwind utilities;

.dark {
  --background: 18, 18, 18;
  --tableHeadingText: 255, 255, 255;
  --tableHeadingBG: 40, 40, 40;
  --tableRowBG: 55, 55, 55;
  --tableRowText: 255 255 255;
}

.light {
  --background: 240, 240, 240;
  --tableHeadingText: 0, 0, 0;
  --tableHeadingBG: 235, 235, 235;
  --tableRowBG: 255, 255, 255;
  --tableRowText: 20, 20, 20;
}